.item-pendiente {
    font-family: monospace;
    font-size: 1rem;
    background-color: #9b9b9b;
    border: 2px solid #ccc;
    border-radius: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}


.deleteButton {
    height: 100%;
    max-height: 3rem;
    width: 100%;
    max-width: 3rem;
    border-radius: 100%;
}

.deleteButton:hover {
    background-color: red;
    cursor: pointer;
    color: #ffffff;
}

.deleteButton::before {
    font-size: 1.5rem;
    content: "🗑";
}


.editButton {
    height: 100%;
    max-height: 3.5rem;
    width: 100%;
    max-width: 3.5rem;
    border-radius: 100%;
}

.editButton:hover {
    background-color: rgb(238, 255, 0);
    cursor: pointer;
    color: #000000;
}

.editButton::before {
    font-size: 1rem;
    content: "📝";
}

@media (max-width: 600px) {

  .item-pendiente {
    grid-template-columns: 1fr; /* una sola columna */
    gap: 0.5rem;
    width: 95%;
  }

  .editButton,
  .deleteButton {
    max-width: 50px;
    height: 50px;
    max-height: 2.5rem;
    width: 100%;
    border-radius: 0.7rem;
  }
}
