.item-Contacto {
    font-family: monospace;
    font-size: 1rem;
    margin-right: 4rem;
    background-color: #979191;
    border: 1px solid #ccc;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    width: 1005;
}

.fav-label {
    margin-left: auto;
    cursor: pointer;
}

.fav-label input {
    display: none;
}

.star {
    font-size: 22px;
    color: #ccc;
}

.fav-label input:checked + .star {
    color: gold;
}

.star::before {
    content: "★";
    font-size: 2.5rem;
}

@media ( max-width:900px) {
   .item-Contacto{
     width: 98%;
   }
}